/* Pixelated font style */
@font-face {
  font-family: 'Pixel';
  src: url('/public/fonts/ByteBounce.ttf') format('truetype'),
}

.App-header {
  background-color: #1E1E1E;
  font-size: 1vw; /* Adjust the value as needed */
  color: white;
  text-align: center;
  padding: 20px;
  overflow: hidden; /* Keeps the content within the header */
}


nav button {
  background-color: #1E1E1E; /* Match header background */
  color: white; /* Text color */
  border: 2px solid white; /* White stroke around the buttons */
  margin: 20px 30px; /* Increase spacing between buttons */
  padding: 10px 20px; /* Adjust padding as needed */
  font-family: 'Pixel', monospace; /* Optionally match the font style */
  font-size: 20px; /* Adjust based on your design */
  cursor: pointer; /* Hand cursor on hover */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

nav button:hover {
  background-color: white; /* Background color on hover */
  color: #1E1E1E; /* Text color on hover */
}

.dragon-gif {
  display: block; /* To center the gif, if needed */
  margin: 0 auto; /* Center the gif */
  max-width: 50%; /* Make the gif responsive */
  width: 100px; /* Set the width to your desired size */
  height: auto; /* Maintain aspect ratio */
  transform: translateX(10px); /* Moves the GIF 20px to the right */

}

.download-button {
  display: inline-block;
  background-color: #1E1E1E; /* Match the background */
  color: white;
  border: 2px solid white; /* White stroke */
  margin-top: 0px; /* Add some space above the button */
  margin-bottom: 50px;
  padding: 10px 20px;
  text-decoration: none; /* Remove underline from the link */
  font-family: 'Pixel', monospace;
  font-size: 20px; /* Adjust based on your design */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.download-button:hover {
  background-color: white;
  color: #1E1E1E;
}

.top-button {
  position: fixed;
  bottom: 30px;
  right: 50px;
  display: inline-block;
  background-color: #1E1E1E; /* Match the background */
  color: white;
  border: 2px solid white; /* White stroke */
  margin-top: 0px; /* Add some space above the button */
  margin-bottom: 50px;
  padding: 10px 20px;
  text-decoration: none; /* Remove underline from the link */
  font-family: 'Pixel', monospace;
  font-size: 20px; /* Adjust based on your design */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.top-button:hover {
  background-color: white;
  color: #1E1E1E;
}

.typing-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid transparent; /* Initially transparent to not add visual width */
  animation: typing 4s steps(40, end) forwards, blink-caret .75s 6s step-end forwards;
  padding: 0;
  margin: 0;
  font-family: 'Pixel', monospace; /* Ensuring your custom font is applied */
  font-size: 40px; /* Adjust based on your design */
  line-height: 1; /* Adjust for tight text fit */}

/* Typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Cursor blink effect */
@keyframes blink-caret {
  0%, 100% { border-color: rgba(0, 255, 0, 0); }
  50% { border-color: transparent; }
}

.resume-image {
  width: 100%;
  height: auto;
  display: block; /* This removes any default inline padding and ensures it takes the full width */
  border-radius: 50px; /* Adjusts the roundness of the corners */

}


main {
  background-color: #1E1E1E;
  text-align: center;
  color: white;
  padding: 20px;
  font-family: 'Pixel', monospace; /* Ensuring your custom font is applied */
  font-size: 25px; /* Adjust based on your design */
  line-height: 1.5; /* Adjust for tight text fit */
}


section {
  padding: 20px; /* Internal spacing */
  margin-bottom: calc(100vh - 20px); /* Adds bottom margin equal to the viewport height */

}
